.contactContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* padding: 20px; */
  background-color: #ffffff;
  position: relative;
  margin-top: 70px;
  gap: 20px; /* Added gap for spacing */
}

.contactWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  /* margin-top: 34vh; */
  padding: 0px 13px;
}

.contactLeft,
.contactRight {
  flex: 1;
  min-width: 300px;
  margin: 10px 0;
  border-radius: 10px;
}

.contactLeft {
  background-image: linear-gradient(90deg, #f48e58 0%, #f48e58 100%);
  /* background-image: url("/Images/address_background.jpeg");
  background-repeat: no-repeat;

  background-size: cover;
  opacity: 10; */
  color: #f1f1f1;
  padding: 40px;
  text-align: left;
  order: 2;
}

.contactLeft h1 {
  text-transform: uppercase;
  font-size: 36px;
}

.contactRight {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  order: 1;
  color: black;
  font-size: 27px;
  font-weight: 700;
}

.input:focus {
  outline: none;
  border-color: #ff6600;
}
.textarea:focus {
  outline: none;
  border-color: #ff6600;
}

.input,
.textarea {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  color: #000000;
}

.button:hover {
  background-image: linear-gradient(90deg, #ff6600 0%, #ff8c00 100%);
}

.button {
  background-image: linear-gradient(90deg, #f48e58 0%, #f48e58 100%);

  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  width: 100%;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #218838;
}

/* .phone {
  color: #28a745;
}

.email {
  color: #007bff;
} */

/* Start header banner */
.contactheader {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.backgroundVideo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  /* z-index: -1; */
  object-fit: cover;
  object-position: center 30px; /* Moves the video content down */
}

/* .contactheader h1 {
  position: relative;
  z-index: 1;
  font-size: 3rem;
  font-weight: bold;
} */

.contactheader h1::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #ff6600;
  margin: 10px auto 0;
}

.addresscontainer,
.phonecontainer,
.mailcontainer {
  display: flex;
  gap: 3px;
  color: #000000;
  font-weight: 600;
  align-items: center;
  font-size: 17px;
}

.contactLeft p {
  padding-bottom: 10px;
  font-size: 16px;
}

/* Responsive Design */
@media (min-width: 768px) {
  .contactContainer {
    flex-direction: column;
    align-items: center;
  }

  .contactWrapper {
    flex-direction: row;
    gap: 40px;
  }

  .contactLeft,
  .contactRight {
    flex: 1;
  }

  .contactLeft {
    order: 1;
  }

  .contactRight {
    order: 2;
  }
  .contactheader {
    height: 234px;
  }
  /* .contactWrapper {
    margin-top: 39vh;
  } */
}

@media (max-width: 990px) {
  .contactLeft h1 {
    font-size: 23px;
  }
  .contactRight {
    font-size: 20px;
    padding: 0px;
  }
  .backgroundVideo {
    transform: translate(-50%, -50%);
    object-position: center 20px;
  }
  .contactheader {
    height: 30vh;
  }
}

@media (max-width: 480px) {
  .backgroundVideo {
    height: 50vh;
    object-position: center 15px;
  }

  .contactheader {
    height: 18vh;
  }
}
