@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
::-webkit-scrollbar {
  width: 4px;
  border: 1px solid #d5d5d5;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background: #eeeeee;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #b0b0b0;
}

.header {
  background-color: #333;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
  width: 100%;
}
.logo {
  display: flex;
}

.header .logo h1 {
  margin-left: 20px;
  font-weight: 700;
  font-size: 28px;
}

.navigation ul {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
}

.navigation a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: color 0.3s ease;
  font-weight: 500;
}

.navigation a:hover {
  color: #7daec7; /* Hover effect */
}

/* footer */

/* Footer Styles */
.footer {
  background-color: #1a1a1a; /* Dark background */
  color: #f1f1f1; /* Light text */
  padding: 40px 0;
  text-align: center;
  font-family: "Arial", sans-serif;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-logo h3 {
  font-size: 28px;
  color: #21acdf;
  margin-bottom: 10px;
  font-weight: 600;
}

.footer-logo p {
  font-size: 14px;
  color: #f1f1f1;
}

.footer-links ul {
  list-style: none;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  text-decoration: none;
  color: #f1f1f1;
  font-size: 16px;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #12b6f2; /* Hover effect on links */
}

.footer-social {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.social-icon {
  text-decoration: none;
  color: #f1f1f1;
  font-size: 16px;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #12b6f2; /* Hover effect on social icons */
}

.footer-bottom {
  margin-top: 40px;
  font-size: 14px;
  color: #888;
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-logo {
    text-align: center;
    margin-bottom: 30px;
  }

  .footer-links ul {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 30px;
  }

  .footer-social {
    justify-content: center;
  }
}

.logo img {
  height: 40px;
  width: 148px;
}

.navcontactbutton {
  cursor: pointer;
  background-color: #bdbec2 !important;
  color: #414143 !important;
  padding: 4px 16px;
  margin-right: 10px;
  border: none;
  transition: background-color 0.3s ease, transform 0.2s ease,
    box-shadow 0.3s ease;
}

.navcontactbutton:hover {
  background-color: #4dcbe1 !important;
  color: #fff !important;
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

/* Top Bannner  ******************************************************/
.topbanner {
  position: relative;
  width: 100%;
  height: 80vh;
  margin-bottom: 150px;
}

.blurred-video {
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(5px);
}

/* text on banner video ********************************************/

.videotext {
  position: absolute;
  top: 65%;
  left: 5%;
  transform: translateY(-50%);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: left;
}

/* Default Style for Each Line */
.videotextcontent {
  font-size: 55px;
  font-weight: 700;
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 1s ease-out forwards;
  background: linear-gradient(
    to right,
    #000000,
    #21acdf
  ); /* Black to Blue Gradient */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* Apply gradient to text */
}

/* Adding Delay for Each Line */
.videotextcontent:nth-child(1) {
  animation-delay: 0.5s;
}
.videotextcontent:nth-child(2) {
  animation-delay: 1.5s;
}
.videotextcontent:nth-child(3) {
  animation-delay: 2.5s;
}

/* Fade-in Up Animation */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Background Effect */
body {
  background-color: white; /* White Background */
}

.bannercontectpara {
  height: 270px;
  width: 900px;
  background-color: grey;
  position: relative;
  margin: 5px 60px;
  padding: 20px; /* Add padding for better readability */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Top banner inside box content */
.videotextsub {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.5px;
  color: white;
  white-space: normal; /* Allow text to wrap */
  overflow-wrap: break-word; /* Break long words only if necessary */
  text-align: center; /* Center-align text */
  margin-bottom: 20px;
  font-family: sans-serif;
}

.subbannertextbutton {
  font-weight: 500;
  height: 60px;
  width: 180px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.5s ease, transform 0.5s ease;
}

.subbannertextbutton:hover {
  background: linear-gradient(135deg, #007bff, rgb(80, 192, 215));
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  color: white;
}

.subbannertextbutton a {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

/* About our company- below top banner section***************************************** */

.aboutOurCompany {
  background-color: #ffffff;
  /* height: 100vh; */
  display: flex;
  padding: 0 70px;
}

.aboutcompany_title {
  font-size: 40px;
  line-height: 52px;
  max-width: 800px;
  padding: 0 70px;
  color: rgb(6, 6, 6);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.aboutcompany_title h1 {
  width: 500px;
}

.aboutcompany_description {
  padding: 0px 10px;
  font-size: 19px;
  color: #7a7a7a;
  font-family: "Roboto";
}

/* data counter section start ********************************* */

.counter {
  background-color: #21acdf;
  text-align: center;
  justify-content: space-evenly;
  display: flex;
  transition: all 0.7s linear;
  padding: 22px 0px;
  /* grid-area: 10px; */
}

.counter p {
  color: rgb(250, 250, 250);
  font-weight: 600;
}
.counter-numbers {
  font-size: 35px;
  color: rgb(0, 0, 0);
  font-weight: 600;
}

.counter-section {
  padding: 0px 10px;
}

.counterdata {
  margin-top: 100px;
}

/* data counter end's */

/* Our services section start *********************************************/
.service-element span {
  font-size: 20px;
  font-weight: 800;
  color: #1797c6;
  position: relative;
  display: inline-block;
  margin-bottom: 2px;
  text-transform: uppercase;
}

.oursevices-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-element h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 800;
  line-height: 40px;
  margin: 0 0 20px;
  color: #1b1d21;
}

.ourservicestitle {
  margin: 100px 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ourservices-button {
  margin-left: 450px;
}

.ourservices-textbutton {
  font-weight: 500;
  height: 60px;
  width: 180px;
  background: linear-gradient(135deg, #007bff, rgb(80, 192, 215));
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 4px;
  /* transition: background-color 0.5s ease, transform 0.5s ease; */
  text-transform: uppercase;
}

.ourservices-textbutton:hover {
  background: linear-gradient(135deg, #007bff, rgb(80, 192, 215));
  /* transform: scale(1.1); */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  color: white;
}

/* our services box start */

.services-section {
  padding: 0px 20px 60px 20px;
  background-color: #ffffff;
}

.services-grid {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.service-box {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 18px;
  display: flex;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  flex-direction: column;
}

.service-box:hover {
  transform: translateY(-3px);
}

.service-icon {
  width: 75px;
  height: 60px;
  margin-bottom: 1rem;
  /* padding-right: 5px; */
  /* margin-right: 10px; */
}

.service-title {
  font-size: 1.2rem;
  /* margin: 0.5rem 0; */
  color: #333;
  font-weight: 600;
  /* cursor: pointer; */
}

.service-description {
  font-size: 1rem;
  color: #666;
  line-height: 1.5;
}

/* our services box end */

/* Our services section end's ************************************************* */

.helpsection {
  display: flex;
  justify-content: center;
  height: 358px;
  background-image: url(/Images/Contact-US-1-1.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 20px 0px;
}

.ot-container-box {
  display: flex;
  align-items: center;
  gap: 280px;
}

/* ot-heading start **************************** */

.ot-heading span {
  color: #f7f3f3;
  font-size: 20px;
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.ot-heading h2 {
  color: #ffffff;
  font-size: 48px;
  line-height: 60px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
}

.ot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  color: white;
  padding: 0px 0px 0px 55px;
}
.ot-button-element {
  font-family: "Nunito Sans", Sans-serif;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
  background-color: rgba(67, 186, 255, 0);
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #ffffff;
  border-radius: 0px 0px 0px 0px;
  padding: 21px 35px 21px 35px;
}

.ot-button-element:hover {
  background: #1797c6;
  transform: scale(1.1);
  color: white;
  /* border: none; */
}

/* ot-heading end */

/* Experties grid generater start */

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.expertise-section {
  padding: 40px 60px;
  background-color: #ffffff;
}

.expertise-items {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Expertise-text {
  color: #1797c6;
  text-transform: uppercase;
}

.expertise-title {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 800;
  line-height: 40px;
  margin: 0 0 20px;
  color: #1b1d21;
  text-transform: uppercase;
}

.expertise-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.expertise-item {
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.expertise-item:hover {
  transform: translateY(-5px);
}

.expertise-item img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.expertise-item h3 {
  font-size: 16px;
  font-weight: bold;
  color: #222;
  margin-top: 10px;
}

.category {
  display: inline-block;
  margin-top: 8px;
  font-size: 14px;
  color: #ff6600;
  text-decoration: none;
  font-weight: bold;
}

.category:hover {
  text-decoration: underline;
}

.mobile-menubutton {
  display: none;
}
.mobile-menubutton img {
  width: 50px;
}

.subbannertextbutton2 {
  display: none;
}

/* Experties grid generater end */

/* Media query *************************************8 */
@media screen and (min-width: 1281px) and (min-height: 801px) {
  .videotext {
    top: 55%;
  }

  .subbannertextbutton {
    color: Black;
  }

  .topbanner {
    margin-bottom: 120px;
  }

  .aboutcompany_title {
    font-size: 50px;
  }

  .ourservices-button {
    margin-left: 650px;
  }
}

/* Responsive for small desktop screen sizes *********************/
@media screen and (max-width: 1280px) and (max-height: 800px) {
  .videotext h1 {
    font-size: 50px;
  }

  .bannercontectpara {
    height: 250px;
    width: 700px;
  }

  .videotextsub {
    font-size: 16px;
  }
  .subbannertextbutton {
    margin-bottom: 10px;
  }

  .aboutcompany_title {
    padding: 0 60px;
  }

  .blurred-video {
    top: 63px;
  }

  .ourservices-textbutton {
    color: white;
  }
}

/* header responsive */

@media (max-width: 990px) {
  .navigation {
    display: none;
  }
  .mobile-menubutton {
    display: block;
  }
  .videotext h1 {
    font-size: 30px;
  }
  .bannercontectpara {
    display: none;
  }
  .topbanner {
    height: 50vh;
  }

  .mobilebannerbutton-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .subbannertextbutton2 {
    color: #ffffff;
    display: block;
    font-weight: 500;
    height: 40px;
    width: 155px;
    background: linear-gradient(135deg, #007bff, rgb(80, 192, 215));
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.5s ease, transform 0.5s ease;
  }

  .subbannertextbutton2:hover {
    background: linear-gradient(135deg, #007bff, rgb(80, 192, 215));
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    color: white;
  }

  .subbannertextbutton2 a {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 14px;
  }

  .blurred-video {
    top: 40px;
  }
  .aboutOurCompany {
    padding: 0px 15px;
    flex-direction: column;
    display: flex;
    text-align: center;
  }
  .aboutcompany_title {
    font-size: 20px;
    line-height: 34px;
    max-width: 800px;
    padding: 0;
    color: rgb(6, 6, 6);
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  .aboutcompany_title h1 {
    width: 350px;
  }

  .topbanner {
    margin-bottom: 90px;
  }
  .counter-numbers {
    font-size: 20px;
  }
  .counter p {
    font-size: 12px;
  }
  .ourservices-button {
    margin-left: 0px;
  }

  .ourservicestitle {
    margin: 45px 33px;
    flex-direction: column;
  }
  .service-element {
    text-align: center;
  }
  .service-element h1 {
    font-size: 24px;
    line-height: 33px;
  }
  .services-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .ot-container-box {
    gap: 0;
    flex-direction: column;
    text-align: center;
  }
  .ot-container {
    padding: 0px 15px 0px 15px;
  }
  .ot-heading h2 {
    font-size: 36px;
    line-height: 45px;
    padding-bottom: 45px;
  }
  .helpsection {
    height: 271px;
  }
  .expertise-section {
    padding: 40px 40px;
  }
  .aboutcompany_description p {
    font-size: 16px;
  }
  .counterdata {
    margin-top: 47px;
  }
}

@media (max-width: 768px) {
}
